body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;

}

label {
  display: block;
}

.navigation-link {
  font-weight: 500;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.intro {
  background-color: #f8f8f8;
  padding-top: 30px;
}

.navigation-link:hover,
.navigation-link:focus{
  color: #fb565a;
}

.main-header-logo:active {
  opacity: .4;
}

.navigation-link:active {
  color: black;
  opacity: .4;
}

.navigation-link-active {
  border-bottom: 1px solid #fb565a;
  padding-bottom: 5px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 150px;
}

.navigation li {
  margin-right: 50px;
}

.navigation li:last-child {
  margin-right: 0;
  margin-left: auto;
}

.navigation-link img {
  margin-right: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slide-headline {
  font-size: 45px;
  line-height: 40px;
  font-weight: 500;
  width: 500px;
  margin-top: 83px;
}

.link {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fb565a;
  border-radius: 3px;
  display: inline-block;
}

.link:hover,
.link:focus {
  background-color: #e74246;
}

.link:active {
  background-color: #e74246;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.slide {
  position: relative;
  padding-bottom: 80px;
  display: none;
}

.slide-photo {
  position: absolute;
  right: 0;
  bottom: 0;
}

.lead {
  width: 365px;
  margin-bottom: 50px;
}

.slide-dots {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
}

#slide-1:checked ~ .slide-1,
#slide-2:checked ~ .slide-2,
#slide-3:checked ~ .slide-3 {
  display: block;
}

.slide-dots label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  background-color: white;
  border: 5px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#slide-1:checked ~ .slide-dots label[for="slide-1"],
#slide-2:checked ~ .slide-dots label[for="slide-2"],
#slide-3:checked ~ .slide-dots label[for="slide-3"] {
  background-color: #c1c1c1;
}

input[name="slide"] {
  display: none;
}

.design-studio {
  position: relative;
}

.services {
  border-bottom: 1px solid #eeeeee;
}

.services-header {
  font-size: 24px;
  text-transform: uppercase;
}

.services-block {
  display: inline-block;
  width: 300px;
  margin-top: 60px;
  margin-right: 80px;
  margin-bottom: 60px;
}

.services-block:last-child {
  margin-right: 0;
}

.link-green {
  background-color: #00ca74;
}

.link-yellow {
  background-color: #efc84a;
}

.link-green:hover,
.link-green:focus {
  background-color: #03a15e;
}

.link-green:active {
  background-color: #03a15e;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.link-yellow:hover,
.link-yellow:focus {
  background-color: #eab534;
}

.link-yellow:active {
  background-color: #eab534;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.advantage {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding-bottom: 30px;
}

.advantage-benefits {
  display: flex;
  flex-direction: column;
  width: 720px;
}

.advantage-promo {
  font-size: 35px;
  line-height: 40px;
  font-weight: 500;
}

.advantage-header {
  text-transform: uppercase;
  font-weight: 700;
}

.advantage-list {
  line-height: 50px;
  padding-left: 20px;
}

.advantage-list li:before {
  content:  "—";
  position: relative;
  left: -20px;
  color: #fb565a;
  font-weight: 700;
}

.advantage-aside {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.indent {
  margin-top: 20px;
  margin-bottom: 30px;
}

.littel {
  font-size: 20px;
  line-height: 1px;
  font-weight: 700;
  vertical-align: super;
}

.clientele {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.clientele-link {
  position: relative;
  flex-grow: 1;
  text-align: center;
}

.clientele-link::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50px;
  background-color: #eeeeee;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}

.clientele-link:last-child::after {
  display: none;
}

.clientele-link:hover,
.clientele-link:focus {
  opacity: 0.2;
}

.clientele-link:active {
  opacity: 0.1;
}

.map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts {
  width: 320px;
  background-color: white;
  padding-left: 30px;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.email-us {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacts-social{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding-bottom: 30px;
  align-items: center;
}

.contacts-media {
  display: flex;
  flex-direction: column;
}

.sale {
  display: flex;
  flex-direction: column;
  margin-left: 140px;
}

.sale p {
  margin-top: 0;
  margin-bottom: 0;
}

.social-link {
  display: inline-flex;
  font-size: 0;
  border-radius: 50%;
  background-color: #e1e1e1;
  height: 80px;
  width: 80px;
}

.social-icons {
  margin: auto;
}

.social-link:hover,
.social-link:focus {
  background-color: #e74246;
  color: rgba(255, 255, 255, 0.3);
}

.social-link:active {
  background-color: #e74246;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.social-link:active .social-icons {
  opacity: 0.3;
}

.write-us {
  display: none; /*hidden block*/
  position: fixed;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  width: 930px;
  background-color: white;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 70px;
  padding-bottom: 70px;
  box-sizing: border-box;
  box-shadow: 0 30px 40px 0 rgba(0,0,0,0.7);
  /* display: none; */
}

.write-us-name {
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 40px;
}

textarea[name="text"]{
  min-height: 110px;
  resize: vertical;
}

.write-us input,
.write-us textarea {
  border: solid 2px #d7dcde;
  border-radius: 2px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #444444;
}

.write-us input:hover,
.write-us textarea:hover {
  border-color: #b4b9bb;
}

.write-us input:focus,
.write-us textarea:focus {
  border-color: #000000;
}

.write-us input:invalid,
.write-us textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}

.write-us-cell {
  display: flex;
  flex-direction: column;
}

.write-us-row {
  display: flex;
  flex-direction: row;
}

.write-us-row .write-us-cell {
  margin-right: 40px;
  flex-grow: 1;
}

.write-us-row .write-us-cell:last-child {
  margin-right: 0;
}
.write-us-button {
  margin-top: 40px;
}

.write-us h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.write-us .close {
  position: absolute;
  right: 70px;
  top: 90px;
}

.close {
  font-size: 0;
  border: 0;
  background-color: transparent;
  display: inline-block;
  width: 27px;
  height: 27px;
  opacity: 0.3;
  cursor: pointer;
}

.close::before,
.close::after {
  content: "";
  display: block;
  height: 27px;
  width: 5px;
  background-color: #db575a;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  transform-origin: center center;
}

.close::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

.close:hover,
.close:focus {
  opacity: 1;
}

.close:active {
  opacity: 0.1;
}

.title {
  padding-top: 40px;
  padding-bottom: 60px;
}

.headline {
  text-align: center;
  margin: 0;
  width: auto;
}

.catalog-panel {
  display: flex;
  flex-direction: row;
}

.catalog-sidebar {
  width: 270px;
  margin-top: 50px;
  margin-right: 140px;
}

.range-filter {
  width: 240px;
  margin: 20px auto;
  display: inline-table;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .bar {
  margin-left: 20%;
  width: 30%
}

.button-show {
  background-color: #eeeeee;
  color: black;
  border: 0;
}

.button-show:hover,
.button-show:focus {
  background-color: #e0e0e0;
}

.button-show:active {
  background-color: #d6d6d6;
  color: #959595;
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.grid input,
.features input{
  margin-right: 10px;
}

.drid-filter,
.features-filter,
.button-show {
  margin-top: 40px;
}

.grid input {
  clip: rect(0 0 0 0);
  position: absolute;
}

.grid label {
  cursor: pointer;
  line-height: 30px;
}

.grid input + span:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 16px;
  border: 2px solid #fff;
  box-shadow: 0 0 0 3px #4c4c4c;
  margin-right: 12px;
}

.grid input:checked + span:before {
  background: #4c4c4c;
  box-shadow: 0 0 0 3px #4c4c4c;
}

.grid label:hover,
.grid label:focus {
  opacity: 0.6;
}

.features label {
  position: relative;
  margin-bottom: 7px;
}

input[name="features"]:checked + label[for^="features-"]::after {
  content: "";
  position: absolute;
  left: 5px;
  width: 16px;
  height: 6px;
  transform: rotate(-45deg);
  border-left: 4px solid #4c4c4c;
  border-bottom: 4px solid #4c4c4c;
}

.features input {
  display: none;
}

.features label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  border: 3px solid #4c4c4c;
  margin-right: 12px;
}

.features label:hover,
.features label:focus {
  opacity: 0.6;
}

.catalog-container {
  display: flex;
  flex-direction: column;
  width: 765px;
}

.sort-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 60px;
}

.sort-price-model {
  margin-left: 290px;
  position: relative;
}

.sort-price {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 15px;
}

.sort-price:nth-child(3) {
  padding-right: 70px;
}

.triangle-bottom {
  border: 6px solid transparent;
  border-top: 10px solid #231f20;
  position: absolute;
  top: 5px;
}

.triangle-top {
  border: 6px solid transparent;
  border-bottom: 10px solid #231f20;
  position: absolute;
  right: -55px;
}

.sort-price:hover,
.sort-price:focus
.triangle-bottom:focus,
.triangle-bottom:hover,
.triangle-top:hover,
.triangle-top:focus {
  opacity: 0.3;
}

.pagination-list {
  width: 450px;
  padding-bottom: 50px;
}

.pagination {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 10px;
}

.pagination:active {
  background-color: #fff;
  color: black;
}

.product-sites img:nth-child(odd) {
  margin-right: 80px;
}

.product-sites img {
  margin-bottom: 30px;
}
